<!DOCTYPE html>
<html>
  <head>
    <title>Mirror Fashion</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="css/produto.css">
  </head>
  <body>
     
    <header class="container">
      <h1>Mirror Fashion</h1>

      <p class="sacola">
        Há itens em sua sacola de compras
      </p>

      <nav class="menu-setores">
        <ul>
          <li><a href="#">Sua Conta</a></li>
          <li><a href="#">Lista de Desejos</a></li>
          <li><a href="#">Cartão Fidelidade</a></li>
          <li><a href="sobre.html">Sobre</a></li>
          <li><a href="#">Ajuda</a></li>
        </ul>
      </nav>
    </header>

    <div class="container produto">
      <img src="img/produto-1.jpg" width="290" height="370" class="foto">
      
      <h1>Furlan Mistery Cardigan</h1>
      <h2>por apenas R$ 120</h2>

       <p class="descricao">Produto de alta qualidade, importado diretamente da Zâmbia com textura inigualável.</p>

      <a href="#" class="comprar" ng-click="comprar($event)">Comprar</a>
    </div>

    <footer>
      <div class="container">
        <h1>Mirror Fashion</h1>
        <ul class="social">
          <li><a href="http://facebook.com/mirrorfashion">Facebook</a></li>
          <li><a href="http://twitter.com/mirrorfashion">Twitter</a></li>
          <li><a href="http://plus.google.com/mirrorfashion">Google+</a></li>
        </ul>
      </div>
    </footer>
      
      <script src="js/model/Sacola.js"></script>
      
  </body>
</html>