/*http://dabblet.com/gist/2771699  Estudo Float*/
/*http://dabblet.com/gist/2791297*/

* {
    margin: 0;
    padding: 0; 
}

a{
    text-decoration: none;
}

body {
    font-family: "Arial", sans-serif;
    color: #333;
}

header {
    position: relative;
}

.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    width: 70px;
    margin-top: 20px;
    padding-right: 35px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes a {
    color: black;
}

.menu-opcoes a:hover {
    color: #007dc6;
}

.menu-opcoes a:active {
    color: #867dc6;
}

.menu-opcoes ul li {
    display: inline;
    /*http://dabblet.com/gist/2771619*/
}

.destaque {
    margin-top: 10px;
}

.busca,
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    
    margin-right: 10px;
    width: 230px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
    float: left;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

.busca input {
    vertical-align: middle;
}

.busca input[type=search] {
    width: 170px;
}

.menu-departamentos {
    clear: left;
    
    margin-top: 10px;
    padding-bottom: 10px;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a{
    color: #333333;
    text-decoration: none;
}

.menu-departamentos ul li ul {
    display: none;
}

.menu-departamentos ul li:hover ul{
    display: block;
}

.menu-departamentos ul ul li {
    background-color: #dcdcdc;
}

.menu-departamentos li li a:before {
    content: "\272A";
    padding: 3px;
}

.container {
    margin: 20px auto;
    width: 940px;

}

.paineis{
    display: table;
    border-spacing: 10px;
    width: 960px;
}

.painel{
    text-align: center;
    
    background-color: #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #999
          inset 0 0 50 30 rgba(255,255,255,0.3) ;
    
    display: table-cell;
    width: 49%;
    margin-bottom: 10px;
}

.painel h2{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
    
    
    padding-left: 10px;
    margin: 10px 0;
}

.painel h2:before {
    content: '\2756';
    padding-right: 5px;
    opacity: 0.4;
}

.painel button{
    float: right;
    margin-right: 10px;
    padding: 10px;
    
    color: white;
    position: relative;
    
    background-color: #333;
    border: 0;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(30,30,30,0.5);
    color: white;
    font-size: 1em;
    text-decoration: none;
    text-shadow: 1px 0 1px black;
    
    transition: 0.3s;
}

.painel button:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    
    border-top: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    
    transition: 0.3s;
}

.painel button:hover {
    background-color: #393939;
    box-shadow: 1px 0 20px rgba(200,200,200,0.9);
}



.painel button

.novidades {
    background-color: #f5dcdc; 
    background: linear-gradient(#f5dcdc, #bebef4);
}

.mais-vendidos {
    background-color: #dcdcf5;
    background: linear-gradient(#dcdcf5, #f4bebe);
}

.painel li{
    display: inline-block;
    width: 32%;
    margin-bottom: 15px;
    text-decoration: none;
    vertical-align: top;
    
    -webkit-transition:  0.7s ease-out;
            transition:  0.7s ease-out;
}

.painel li:hover {
    box-shadow: 0 0 5px #333;
    background-color: rgba(255,255,255,0.8);
    
    -webkit-transform: scale(1.2) rotate(-5deg);
            transform: scale(1.2) rotate(-5deg);
            
    -webkit-transition:  0.7s ease-in;
            transition:  0.7s ease-in;

}

.painel li:nth-child(Odd):hover {
    -webkit-transform: scale(1.2) rotate(5deg);
            transform: scale(1.2) rotate(5deg);
}

.painel a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.painel img {
    padding-top: 3px;
}

.painel strong{
    display: block;
}

footer {
    background-image: url(../img/fundo-rodape.png);
    height: 60px;
    color: white;
    
    padding: 30px calc((100% - 940px)/2);
    position: relative;
}

footer h1{
    float:left;
}

.redes-sociais {
    /*float: right;*/
    position: absolute;
    top: calc((100% - 32px)/2);
    right: calc((100% - 940px)/2);
}

.redes-sociais li {
    float: left;
    margin-left: 25px;
}

.redes-sociais a{
    display: block;
    width: 32px;
    height: 32px;
}

.redes-sociais a {
    color: transparent;
    text-indent: -10000px; // image replacement
    

}

.redes-sociais [href*="twitter"] {
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
}

.redes-sociais [href*="facebook.com"] {
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
}

.redes-sociais [href*="google"] {
    background-image: url(../img/googleplus.png);
    background-repeat: no-repeat;
}

.painel button {
    display: none;
}

.painel-compacto li:nth-child(n+7) {
    display: none;
}

.painel-compacto button {
    display: block;
}