
.container {
    width: 96%;
}

header h1 {
    text-align: center;
}

header h1 img {
    max-width: 50%;
}

.sacola {
    display: none;
}

.menu-opcoes {
    position: static;
    text-align: center;
}

.menu-opcoes ul li {
    display: inline-block;
    margin: 5px;
}

.busca,
.menu-departamentos,
.destaque img {
    margin-right: 0;
    width: 100%;
}

.painel {
    width: auto;
    display: block;
}

.painel img {
    width: 100%;
}

footer {
    padding: 30px 0;
    position: relative;
}

footer h1{
    float:left;
}

.redes-sociais {
    float: right;
    position: static;
    top: calc((100% - 32px)/2);
    right: 0;
}