.produto-back {
    background-color: #F2F2F2;
    margin-top: 1em;
    border-top: 2px solid #ccc;
}


.produto {
    color: #333;
    line-height: 1.3;
    margin-top: 2em;
}

.produto h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.produto p {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 1em;
}

.produto legend {
    display: block;
    font: bold 0.9em/2.5 Arial;
    text-transform: uppercase;
}

fieldset {
    display: inline-block;
    vertical-align: top;
    
    margin: 1em 0;
    width: 45%;
    min-width: 200px; 
}

fieldset.cores {
    position: relative;
    padding-top: 65px;
}

input[type=radio] {
    display: none;
}

:checked+label:before {
    border: 5px solid rgba(0,0,0, 0.5);
}

:checked + label img {
    display: block;
}

label:before {
    content: '';
    display: block;
    
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
    position: absolute;
    top: 30px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
         
    border: 6px solid rgba(0,0,0,0);
    transition: 1s;
    
}
input[type=radio]
label:hover:before {
    border: 6px solid rgba(0,0,0,0.1);
}

[for='verde']:before {
    background-color: green;
    left: 0;
}

[for='azul']:before {
    background-color: blue;
    left: 60px;
}

[for='rosa']:before {
    background-color: pink;
    left: 120px;
}

label img {
    display: none;
    max-width: 100%;
}

.comprar {
    background: #91bd3c;
    border: none;
    color: #333;
    
    font-size: 1.4em;
    text-transform: uppercase;
    
    box-shadow: 0 1px 3px #777;
    
    display: block;
    padding: 0.5em 1em;
    margin: 1em 0;
}

.detalhes {
    padding: 2em 0;
}

.detalhes h2 {
    font-size: 1.5em;
    line-height: 2;
}

.detalhes p {
    margin: 1em 0;
    font-size: 1em;
    line-height: 1.5;
    max-width: 36em;
}

table {
    border-spacing: 0.2em;
    border-collapse: separate;
}

thead {
    background-color: #999;
}

thead th{
    font-weight: bold;
    padding: 0.3em 1em;
    text-align: center;
}

td {
    padding: 0.3em;
}

tr:nth-child(2n){
    background-color: #ccc;
}

td:first-child {
    font-style: italic;
}

@media (min-width: 538px){
    
    .container{
        max-width: 940px;
    }
    
    .produto {
        font-size: 1.2em;
        
        position: relative;
        padding-left: 40%;
        
    }
    
    fieldset.cores{
        position: static;
        padding: 0;
    }
    
    label:before {
        position: static;
        float: left;
        margin-right: 10px;
    }
    
    
    label img {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 35%;
        max-height: 100%;
        border: 2px solid #ccc;
    }   
    
    .detalhes {
        font-size: 1.2em;
    }
    
}