body {
    font-family: "Arial", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
}

p {
    text-indent: 20px;
}

p:first-letter {
    font-weight: bold;
}

:not(p) + p:first-line {
    font-variant: small-caps;
}

h1 + p {
    text-indent: 0;
}

.titulo {
    background-image: url(../img/sobre-background.jpg);
    padding: 5px;
}

figure {
    background-color: #ccc;
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}

.figcenter {
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

.figflright {
    float: right;
}

figure figcaption {
    margin-top: 5px;
}

h2 {
    border-bottom: 1px solid #000;
}

p {
    margin: 10px 40px;
}

footer img{
    width: 100px;
    vertical-align: middle;
    margin-right: 30px;
}

footer {
    clolor: #666;
    margin: 30px 0;
    padding: 30px 0;
}