/*http://dabblet.com/gist/2791297*/

p{font-size: 14px;text-align: justify;}

h3 ~ p {padding: 0 40px;}
article ~ p {color: blue;}
section h1 + p {font-weight: bold;}
p+p {text-indent: 20px;}
p+p+p {text-indent: 50px;}
article > p {font-size: 18px;}
article > h1 + p {font-style:italic;}

/* Pseudo classes */

li:first-child {color: green;}
li:last-child {color: orange;}
li:nth-child(2){color: red;}
li:nth-child(even){background-color: #aaa;}
li:nth-child(odd){background-color: #ccc;}
li:nth-child(2n+3){font-weight: bold;}
li:hover{font-size: 25px;}

/* Pseudo elements */

p:first-letter{font-size:20px;}
p:first-line{color:blue;}
h1:before{content:"*"}

